/***********************/
/*partials*/
/***********************/
header {
  background-size: cover;
  color: black;
}
header img {
  margin: 40px 0px 0px 0px;
  border-radius: 20px;
}
.nav ul {
  padding: 10px;
  background: rgba(0,0,0,0.1);
}
.nav li {
  display: inline;
  padding: 0px 20px 0px 0px;
}
.nav {
  text-align: center;
}
/***********************/
/*general*/
/***********************/
body {
  background: white;
  background-size: cover;
  font-family: georgia;
}
a {
  font-size: 20px;
  color: green;
}
h1 {
  font-size: 70px;
}
p {
  font-size: 20px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
/***********************/
/*portfolio pieces*/
/***********************/
.project {
  overflow: auto;
}
.project span {
   float: left;
   margin-top: 10px;
   margin-left: 10px;
}
.project img {
   float: left;
   border-style: solid;
   color: black;
}​
/***********************/
/*reactive design/narrow screen*/
/***********************/
@media (max-width: 800px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  a {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  li {
    padding: 5px;
    display: block;
    /*text-align: center;*/
  }
}
